body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(99, 108, 126);
    font-family: "Times New Roman", Times, serif;
  }
  
  main {
    margin: 10rem;
    padding: 5rem;
    background-color: white;
  }
  .p3 {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-top: -40px;
    border-bottom: 2px solid gray;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    margin-top: -40px;
  }
  form {
    border: none;
  }
  input {
    border: none;
    outline: none;
  }
  
  h2 {
    border: 2px solid rgb(27, 23, 23);
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(228, 223, 223);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .p2 {
    text-align: center;
  }
  .p2 a {
    text-decoration-line: none;
  }
  